<select id="delicacy" name="delicacy" required>
    <option value="">--Select--</option>
    <option value="SINUKMANI">Sinukmani</option>
    <option value="SAPIN_SAPIN">Sapin-Sapin</option>
    <option value="PUTO">Puto</option>
    <option value="PUTO_ALSA">Puto Alsa</option>
    <option value="KUTSINTA">Kutsinta</option>
    <option value="PUTO_KUTSINTA">Puto Kutsinta</option>
    <option value="MAJA">Maja</option>
    <option value="PICHI_PICHI">Pichi-Pichi</option>
    <option value="PALITAW">Palitaw</option>
    <option value="KARIOKA">Karioka</option>
    <option value="SUMAN_MALAGKIT">Suman (Malagkit)</option>
    <option value="SUMAN_CASSAVA">Suman (Cassava)</option>
    <option value="SUMAN_LIHIA">Suman (Lihia)</option>
</select>